<header class="navbar-light bg-light shadow-sm">
    <div class="container">
        <span class="navbar-brand mb-0 h1">
            <img src="https://res.cloudinary.com/duzqnf8fu/image/upload/v1768161450/ride-rank-drawn-blank_g9ucsn.png"
                 alt="Achterbahn Karten"
                 class="navbar-logo me-2">
            <h2>Ride-Rank</h2>
        </span>
    </div>
</header>