$brand-dark: #3a2a1a;
$brand-light: #faf6f0;
$brand-border: #e2d8c7;
$footer-background: rgb(239, 236, 219);
$ridden-background-color: rgba(68, 173, 68, 0.3);
$ridden-background-color-collection: rgba(68, 173, 68, 0.6);
$background-url-1: url('https://res.cloudinary.com/duzqnf8fu/image/upload/v1767737818/background_l5liq5.png');
