{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('collection') }}
{% endblock %}

{% block body %}
    </div> {# Close the default container opened in base.html.twig #}
    <div class="collection-page album-theme mb-3">
        <div class="album-container">
            <div class="album-page-inner">
                {{ component('Collection', { columns: columns }) }}
            </div>
        </div>
    </div>
    <div class="container"> {# Re-open container to keep base.html.twig happy #}
{% endblock %}
